NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;

Net "sw[5]" LOC="E14" | IOSTANDARD = LVCMOS33;
Net "sw[6]" LOC="D16" | IOSTANDARD = LVCMOS33;
Net "sw[7]" LOC="B16" | IOSTANDARD = LVCMOS33;

Net "btn[0]" LOC="C13" | IOSTANDARD = LVCMOS33;
Net "btn[1]" LOC="D12" | IOSTANDARD = LVCMOS33;
Net "btn[2]" LOC="C12" | IOSTANDARD = LVCMOS33;
Net "btn[3]" LOC="C10" | IOSTANDARD = LVCMOS33;

Net "ld[0]" LOC="C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[1]" LOC="D11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[2]" LOC="B11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[3]" LOC="A12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[4]" LOC="A13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[5]" LOC="B13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[6]" LOC="A14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "ld[7]" LOC="B14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "clk" LOC="T5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "Rssd[6]" LOC="E3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8; 
Net "Rssd[5]" LOC="E1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Rssd[4]" LOC="G5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Rssd[3]" LOC="D1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Rssd[2]" LOC="E4"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Rssd[1]" LOC="C1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Rssd[0]" LOC="C2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "Lssd[6]" LOC="H6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[5]" LOC="K2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[4]" LOC="H3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[3]" LOC="K1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[2]" LOC="G4"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[1]" LOC="J2" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "Lssd[0]" LOC="G3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
